@page
@model RazorPizza.Pages.Checkout.CheckoutModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="/Checkout/ThankYou">ThankYou</a>

<h1>Your Order</h1>
@{
    var ImagePath = "~/images/Pizzas/" + (Model.ImageTitle + ".png");
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@ImagePath class="w-100" asp-append-version="true"/>
        <p>Your Order For The @Model.PizzaName Pizza Ready</p>
        <p>Total Price For Your Order : @Model.PizzaPrice $</p>
        <br/>
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>

</div>